<header class="sticky top-0 z-[3000] bg-light border-b-2 border-primary">
  <nav class="container mx-auto px-4 py-3 flex items-center justify-between relative">
    
    <a class="flex items-center gap-2 group no-underline" href="index.html">
      <img src="./assets/images/slow-fire-logo-alpha.png" alt="Logo" class="navbar-brand__logo h-16 w-16 tablet:h-20 tablet:w-20 tablet:pr-2 ">
      <span class="navbar-brand__text text-2xl font-serif">SLOW FIRE</span>
    </a>

    <button id="menu-toggle" class="tablet:hidden text-primary text-2xl focus:outline-none">
      <i class="fa-solid fa-bars" id="menu-icon"></i>
    </button>

    <ul id="menu-list" class="hidden tablet:flex tablet:flex-row tablet:gap-2 items-center m-0 p-0 list-none">
        <li><a href="./index.html" class="nav-link text-decoration-none">Inicio</a></li>
        <li><a href="./ponentes.html" class="nav-link text-decoration-none">Invitados</a></li>
        <li><a href="./index.html" class="nav-link text-decoration-none">Artículos</a></li>
        <li><a href="./index.html" class="nav-link text-decoration-none">Inscripción</a></li>
    </ul>

  </nav>
</header>